.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  width: 50%;
  height: 150px;
    background-color: rosybrown;

}
.flex div{
    background-color: red;
  
  width: 25%;
  
  
  
}

